body{
    background-color: skyblue;
    color: red;
    font-family:'Segoe UI';
}

h2{
    color:navy;
    font-family: 'Georgia';
}

h2:hover{
    color: red;
}

p{
   color: black;
   font-family: 'Verdana';
}

p:hover{
   color:blue;
}

a{
    color: teal;
    text-decoration: none;
}

img{
    border-radius: 10px;
}